nltk
colorama
pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn==1.5.0


# # Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

google-cloud-bigquery
google-cloud-storage
mlflow==2.1.1
glob2
keras

# API
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server

# tests
httpx           # HTTP client
matplotlib
seaborn

xgboost
catboost

# Data
pybaseball
MLB-StatsAPI

pytest

# Tracking
mlflow     # Bon pour le tracking des expériences

# Visuel
streamlit  # Bien pour la visualisation

# API
requests
fastapi 
uvicorn